In [ ]:
#11.1 and 11.2
import zoo as menagerie

hours = menagerie.hours()
hours

In [ ]:
import csv

with open('books.csv', 'rt') as fin:
     cin = csv.DictReader(fin, fieldnames=['author', 'book'])
     books = [row for row in cin]
print(books)

[{'author': 'J R R Tolkien', 'book': 'The Hobbit'}, {'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}]

In [5]:
import sqlite3

conn = sqlite3.connect('books2.db')
curs = conn.cursor()
#curs.execute('''CREATE TABLE books
#    (title VARCHAR(50) PRIMARY KEY,
#     author VARCHAR(50),
#     year INT)''')

ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'
curs.execute(ins, ("The Weirdstone of Brisingamen","Alan Garner",1960))
curs.execute(ins, ("Perdido Street Station","China Miéville",2000))
curs.execute(ins, ("Thud!","Terry Pratchett",2005))
curs.execute(ins, ("The Spellman Files","Lisa Lutz",2007))
curs.execute(ins, ("Small Gods","Terry Pratchett",1992))

curs.execute('SELECT * FROM books ORDER BY title ASC')
print(curs.fetchall())

[('Perdido Street Station', 'China Miéville', 2000), ('Small Gods', 'Terry Pratchett', 1992), ('The Spellman Files', 'Lisa Lutz', 2007), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Thud!', 'Terry Pratchett', 2005)]

In [ ]:
import sqlalchemy as sa